.app-header {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #dfdfdf;
}

.app-header > form {
  width: 43%;
}

.task-input {
  font-size: 17px;
  font-weight: 500;
  padding: 9px 12px;
  margin-bottom: 17px;
  background-color: white;
  color: black;
  border: 1px solid #dfdfdf;
  border-radius: 5px;
  width: 100%;
}

.task-from-bottom-line {
  display: flex;
  align-items: center;
  justify-content: space-between;
}



.task-status {
  font-size: 16px;
  font-weight: 500;
  background-color: #ffffff;
  border: 1px solid #dbd6d6;
  border-radius: 5px;
  width: 120px;
  height: 38px;
  padding: 0 5px;
}

.task-submit {
  font-size: 16px;
  font-weight: 500;
  background-color: #6457f9;
  color: white;
  border-radius: 5px;
  height: 38px;
  padding: 3px 13px;
  margin-left: 10px;
  border: none;
  cursor: pointer;
}
